{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>
        Ficha Personal
    </title>
    <link rel="stylesheet" href="{% static 'homepage/css/perfil.css' %}"> <!--Link al CSS -->
    <link rel="icon" type="image/png" href={% static "homepage/img/favicon.png"%}>  <!--Link al favicon -->
    <!--Link a las tipografias externas que se usaran-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>
<main>
<h1 onclick="IrArriba()">Ficha Personal</h1>

<div class="cabeceras">
<div class="cabecera1">
    <table>
        <tr><td><b>Nombre:</b></td><td class="columna-derecha">Rodrigo Albornoz</td></tr> <!--le puse una class a las columnas para poder editalras de forma independiente-->
        <tr><td><b>Comuna:</b></td><td class="columna-derecha">Puente Alto</td></tr>
        <tr><td><b>Carrera: </b></td><td class="columna-derecha">Analista Programador</td></tr>

    </table>

<img src={% static "homepage/img/no-photo.webp"%} alt="Imagen de perfil">
<br>
</div>
<div class="cabecera2">
    <p id="sobre_mi" onclick="Expandir('sobre_mi')"><b>&rarr; Mas sobre mi &larr; </b><br>
        Técnico de impresoras desde hace casi 10 años. Egresado de enseñanza media con título técnico en Telecomunicaciones,
        poco he aprendido que no hubiera despertado previamente mi sincera curiosidad. Desde aprender sobre los formatos de
        compresión de archivos para poder emular un juego de GameBoy a los 11 años, hasta el día de hoy, al instalar y
        configurar un sistema Linux para uso personal; como autodidacta en las tecnologías de la información,
        la curiosidad siempre ha sido el impulso de mi progreso.
    </p>
</div>
</div>

<div class="datos">

<ul id="fortalezas"><strong>Mis cualidades</strong>
  <li>Muy curioso</li>
  <li>Meticuloso en los pequeños detalles </li>
  <li>Tiendo a analizar todo</li>
  <li>Me gusta aprender cosas nuevas</li>
  <li>Impaciente</li>
  <li>No muy guapo</li>
</ul>
<!--
<p id="experiencia0"><strong>Mi Experiencia</strong><br>
    En pocas palabras, no tengo... 
    Lorem ipsum dolor sit amet,<br>
    consectetur adipiscing elit.<br>
    Nullam finibus justo mauris, id <br>
    ullamcorper metus condimentum a.<br>s
</p>
-->
<div class="cancion">
<p id="cancion0"><strong>Una de mis canciones favoritas:</strong><br>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1xaTREM89RbIxkcjlpf4Uw?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>


<!--<img src="6477582.png" alt=""> -->

</div>

<div id="experiencias">
<!--

<p id="experiencia0"><strong>Mi Experiencia</strong><br>
    En pocas palabras, no tengo... 
</p>
-->
 
<p id="proyectos"><strong>Mis Proyectos</strong><br>
Luego de haber terminado satisfactoriamente el segundo semestre de Analista Programador, y aun siendo muy primerizo en cuanto al desarrollo de software y la programación, decidí dedicar mis vacaciones de verano, aprovechando mi tiempo libre para desarrollar un juego de tipo RPG en Python. <br>
Este proyecto comenzó como una practica en el uso de clases, cuando intentaba asimilar el concepto de programación orientada a objetos. Bajo esta lógica, programé 5 clases de personaje diferentes: Caballero, Mago, Berserker, Exorcista y Alquimista, los cuales se enfrentan en combates por turno de uno contra uno. Esto desencadeno el desarrollo de "Code of Legends".<br>
<img id="Captura1" src= {% static "homepage/img/Captura1.png"%} alt="">
Las nociones de Python que tuve que aprender a usar por primera vez para desarrollar Code of Legends segun mi vision fueron varias: la biblioteca Pandas para registrar personajes, guardar y leer sus cambios de stats (Nivel, Fuerza, Inteligencia, Defensa, Karma Y Vida), o aprender desde cero la construcción de interfaces graficas con Tkinter, son las principales. Junto a esto, existe un concepto en la Programacion Orientada a Objetos que exploté al máximo: el polimorfismo.<br>
<img id="Captura2" src="Captura2.png" alt="">
Cuando dos clases distintas tienen métodos con el mismo nombre, pero con comportamientos diferentes, estamos hablando de polimorfismo en programación orientada a objetos. Pues bien, el método atacar, usado para infligir daño al contrincante en Code of Legends, funciona de formas totalmente diferentes en cada clase de personaje. Por ejemplo, mientras un personaje de la clase Caballero infringe daño con la suma de sus stats de Fuerza y Arma restándose a la Defensa de su contrincante, un Alquimista usará su Arma, su Fuerza y cierto porcentaje de su inteligencia, restándose ante el stat defensivo más bajo del contrincante (Defensa o Karma).<br>
<img id="Captura3" src="Captura3.png" alt="">
Hubo gran cantidad de ideas que se quedaron en el tintero, pero el objetivo inicial que me impuse era tener algo usable y con una interfaz grafica antes de marzo. En su version 0.0.1, compilada la primera semana de marzo, es posible registrar un personaje, elegir entre uno existente y utilizar este para combatir contra un enemigo cuya clase, nombre y acciones durante cada turno son aleatorias, mientras que su nivel se equipara automaticamente al del personaje jugador. En dicha version, el personaje del jugador esta capacitado para subir de nivel, registrandose los cambios respectivos de sus stats en un archivo CSV junto al del resto de personajes creados. Y pues nada, misión cumplida.
<img id="Captura4" src="Captura4.png" alt="">


</p>
</div>


</main>

<footer class="pie">
<p>
Todos los derechos reservados &copy 2025.
</p>
</footer>


<script
    src="script.js"></script>
</body>

</html>
